@model BOL.Prescription
@{
    ViewBag.Title = "CreatePrescription";
}


<!-- Start header -->
<header class="top-navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="@Url.Action("Index","Home")">
                <img src="" alt="" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-rs-food" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbars-rs-food">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"><a class="nav-link" href="@Url.Action("Index","Doctor")">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="@Url.Action("PatientAppointment","Doctor")">Appointment List</a></li>
                    <li class="nav-item"><a class="nav-link" href="@Url.Action("Search","Doctor")">Search Patient</a></li>
                    @*<li class="nav-item"><a class="nav-link" href="@Url.Action("Contact","Home")">Pescription</a></li>*@
                    <li class="nav-item"><a class="nav-link" href="@Url.Action("UpdateTime","Doctor")">Update Time-Slot</a></li>
                    @*<li class="nav-item"><a class="nav-link" href="@Url.Action("Contact","Home")">Appointment Summary</a></li>*@
                    <li class="nav-item"><a class="nav-link" href="@Url.Action("Index","Home")">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<!-- End header -->
<h2>Create Prescription</h2>
<div style="padding:200px 550px">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <fieldset>
            <p>Appointment ID : @TempData["appointmentid"]</p>
            @{ TempData.Keep(); }
            <p>Patient Name : @TempData["firstname"] @TempData["lastname"]</p>
            @{ TempData.Keep(); }
            <p>Date : @TempData["date"]</p>
            @{ TempData.Keep(); }
            <p>Time Slot : @TempData["timeslot"]</p>
            @{ TempData.Keep(); }

            <div class="editor-label">
                @Html.LabelFor(model => model.Details)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Details)
                @Html.ValidationMessageFor(model => model.Details, "", new { @class = "text-danger" })
            </div>

            <p>
                <input type="submit" value="Create" />
            </p>
        </fieldset>
    }
</div>
