
@{
    ViewBag.Title = "Details";
}

<h2>Patient Details</h2>
<table style="font-family:Arial">
    <tr>
        <td><b>Name :</b></td>
        <td>@Model.Firstname @Model.Lastname</td>
    </tr>
    <tr>
        <td><b>Address :</b></td>
        <td>@Model.Address, @Model.City, @Model.State</td>
    </tr>
    <tr>
        <td><b>History :</b></td>
        <td>@Model.History</td>
    </tr>
    <tr>
        <td><b>Mobile No.:</b></td>
        <td>@Model.Mobile</td>
    </tr>
    <tr>
        <td><b>Email:</b></td>
        <td>@Model.Email</td>
    </tr>

    <tr>
        <td>
            @Html.ActionLink("Create Prescription", "CreatePrescription", "Doctor")
        </td>
    </tr>
</table>