
@{
    ViewBag.Title = "Details";
}
<div style="padding:200px 550px">
    <h2>Doctor Details</h2>
    <table style="font-family:Arial">
        <tr>
            <td><b>Name :</b></td>
            <td>Dr. @Model.Firstname @Model.Lastname</td>
        </tr>
        <tr>
            <td><b>Address :</b></td>
            <td>@Model.Address, @Model.City, @Model.State</td>
        </tr>
        <tr>
            <td><b>Mobile No.:</b></td>
            <td>@Model.Mobile</td>
        </tr>
        <tr>
            <td><b>Email:</b></td>
            <td>@Model.Email</td>
        </tr>
        <tr>
            <td><b>Specialization:</b></td>
            <td>@Model.Specialization</td>
        </tr>
        <tr>
            <td><b>Certification:</b></td>
            <td>@Model.Certification</td>
        </tr>
        <tr>
            <td><b>Available From (timmings) :</b></td>
            <td>@Model.Checkin - @Model.Checkout</td>
        </tr>
        <tr>
            <td><b>Fees :</b></td>
            <td>@Model.Fees</td>
        </tr>

        <tr>
            <td>
                @{ 
                    TempData["drfirstname"] = Model.Firstname;
                    TempData["drlastname"] = Model.Lastname;
                    TempData["checkin"] = Model.Checkin;
                    TempData["checkout"] = Model.Checkout;
                }
                @Html.ActionLink("Book Appointment", "BookAppointment", "Patient", new { Model.Firstname, Model.Lastname })
            </td>

        </tr>

    </table>
</div>
